* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    color: #222;
    background: linear-gradient(135deg, #f9f9f9, #e3f2fd);
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #1976d2;
    color: white;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-radius: 20px;
}

.score p {
    font-size: 1rem;
    font-weight: 600;
}

.score span {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: #1976d2;
    margin-top: 5px;
}

.comments {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    margin: 2rem 0px;
    padding: 20px;
}

.choice {
    display: flex;
    justify-content: space-around;
}

.choice p {
    font-size: 2rem;
    font-weight: 600;
}

.choice span {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: #1976d2;
    margin-top: 5px;
}

#message {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    height: 20px;
}

.btnList {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

button {
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #0d47a1;
}

.footer {
    padding: 10px 20px;
    border-top: 1px solid #CCC;
    font-size: 0.9rem;
    color: #555;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
}